page-register {

    p {
        font-size:0.8em;
        color: darkgoldenrod;
    }

    .camera {
        width:20%;
        height:50%; 
        margin-left:20px;
        background-color:transparent; 
        .icon{
            font-size:5em;
        }     
    }


   .img {
    max-width: 100%;
    height: auto;
    margin-left:10%;
    border-radius:10%;
    background-color:transparent;
    }
    
   


}
