
<ion-header>
  <ion-navbar>
    <ion-title>Nueva cuenta</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="register">
  <form [formGroup]="formRegister" padding (ngSubmit)="doRegister()" no-validate>
    <ion-list no-lines>
      <ion-item>
        <ion-input formControlName="username" type="text" placeholder="Nombre usuario" [(ngModel)]="newUser.username" ></ion-input>
      </ion-item>
      <ion-item *ngIf="!formRegister.controls.username.valid && (formRegister.controls.username.dirty || submitAttempt)">
        <p>Introduzca un nombre válido</p>
      </ion-item>
       <ion-item>
        <ion-input formControlName="email" placeholder="Email" [(ngModel)]="newUser.email" ></ion-input>
      </ion-item>
      <ion-item *ngIf="!formRegister.controls.email.valid && (formRegister.controls.email.dirty || submitAttempt)">
        <p>Introduzca un email válido</p>
      </ion-item>
      <ion-item>
        <ion-input formControlName="password" type="password" placeholder="Contraseña"  [(ngModel)]="newUser.password" ></ion-input>
      </ion-item>
        <ion-item *ngIf="!formRegister.controls.password.valid && (formRegister.controls.password.dirty || submitAttempt)">
        <p>6 digitos mínimo.</p>
      </ion-item>
      <ion-item>
        <ion-input  formControlName="password2" type="password" placeholder="Confirmar contraseña"  [(ngModel)]="newUser.password2" ></ion-input>
      </ion-item>
      <ion-item *ngIf="!formRegister.controls.password2.valid && (formRegister.controls.password2.dirty || submitAttempt)">
        <p>Debe ser la misma clave</p>
    </ion-item>  
      <ion-item>
        <img class="img" [src]="image" alt="image" *ngIf="image">
      </ion-item>
      <ion-item>
         <button ion-button block default [color]="primary" icon-right (click)="getPicture()"><ion-icon name="ios-camera" class="foto"></ion-icon>Foto de perfil</button>
      </ion-item>
      <button ion-button block type="submit" [disabled]="!formRegister.valid"> Registrar </button>
    </ion-list>
    </form>  
</ion-content>
