page-home {
    
    em {
        color:white;
    }


 .home {
  background-color: #4368b6;
  
  p{
        font-size:25px;
        color: #4368b6;
        text-align:center;
        background-color:aliceblue;
        border-radius:10px;
  }

  .section {
        background-color: rgba(255,255,255,.3);
        border-radius: 5px;
        border: 1px solid white;
        margin-bottom: 10px;

     p{
        background-color:transparent;
        font-size:30px;
        color:white;
        margin-bottom:-5px;
        margin-top:-5px;
     }

     b{
        background-color:transparent;
        font-size:30px;
        color:white;
        margin-bottom:-5px;
        margin-top:-5px;
     }

  img {
        border-radius:15px;
        border:1px solid white;
        width:100px;
        height:100px;
  }
 }

 }
}
