<ion-content class="home">

  <!-- POPULARES -->
  <p>TOP 10 POPULARES</p>
  <div class="section">
    <ion-slides slidesPerView="3" autoplay="1000" loop="true" speed="2000" *ngIf="mostPopular.length > 1">
      <ion-slide *ngFor="let popular of mostPopular; let i = index;">
        <p>{{i+1}}</p><img src="{{popular.art}}" (click)="visualizarTrack(popular.title)">
      </ion-slide>
    </ion-slides>
    <ion-slides *ngIf="mostPopular.length < 2">
      <ion-slide *ngFor="let popular of mostPopular">
        <img src="{{popular.art}}" (click)="visualizarTrack(popular.title)">
      </ion-slide>
    </ion-slides>
  </div>

  <!-- NOVEDADES -->

  <p>NOVEDADES</p>
  <div class="section">
    <br>
    <ion-slides slidesPerView="3" autoplay="1000" loop="true" speed="2000" *ngIf="mostRecent.length > 1">
      <ion-slide *ngFor="let recent of mostRecent; let i = index;">
        <img src="{{recent.art}}" (click)="visualizarTrack(recent.title)">
      </ion-slide>
    </ion-slides>
    <ion-slides *ngIf="mostRecent.length < 2">
      <ion-slide *ngFor="let recent of mostRecent">
        <img src="{{recent.art}}" (click)="visualizarTrack(recent.title)">
      </ion-slide>
    </ion-slides><br>
  </div>

  <!-- GENEROS MUSICALES -->
  <p>TOP GENEROS</p>
  <ion-grid>
    <ion-row>
        <button ion-button color="light" (click)="filterPop('Pop')">POP</button>
        <button ion-button color="light" (click)="filterPop('Latino')">LATINO</button>
        <button ion-button color="light" (click)="filterPop('Electro')">ELECTRONICA</button>
        <button ion-button color="light" (click)="filterPop('Rock')">ROCK</button>
    </ion-row>
    <ion-row style="background-color:rgba(255,255,255,.3); border-radius:10px;border: 1px solid white;">
      <ion-list >
        <ion-item (click)="visualizarTrack(pop.title)" style="background-color:transparent;" *ngFor="let pop of popTracks | slice:0:4; let i = index;" [hidden]="!btnPop">
          <em>{{pop.artist}} - {{pop.title}}</em>
        </ion-item>
        <ion-item (click)="visualizarTrack(latino.title)" style="background-color:transparent;" *ngFor="let latino of latinoTracks | slice:0:4; let i = index;" [hidden]="!btnLatino">
          <em>{{latino.artist}} - {{latino.title}}</em>
        </ion-item>
        <ion-item (click)="visualizarTrack(rock.title)" style="background-color:transparent;" *ngFor="let rock of rockTracks | slice:0:4; let i = index;" [hidden]="!btnRock">
          <em>{{rock.artist}} - {{rock.title}}</em>
        </ion-item>
        <ion-item (click)="visualizarTrack(electro.title)" style="background-color:transparent;" *ngFor="let electro of electroTracks | slice:0:4; let i = index;" [hidden]="!btnElectro">
          <em>{{electro.artist}} - {{electro.title}}</em>
        </ion-item>
      </ion-list>
    </ion-row>
  </ion-grid>


</ion-content>