page-playlist {
.playlist {
  background-color: #4368b6;

    .items{
      width:100%;
      color:white;
    }

    ion-item {
        background-color: rgba(255,255,255,.3);
        border-radius: 20px;
        border: solid 2px white;
        margin-bottom:10px;     

        b{
          color:white;
          font-size:20px;
        }  

        em{
          color:white;
          font-size:12px;
        }  

        ion-thumbnail{

            b{
              font-size:20px;
              text-align:center;
              color:#4368b6;
            }
           }
          }
         }
}
