<!--
  Generated template for the Biblioteca page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Biblioteca</ion-title>
  </ion-navbar>

</ion-header>



<ion-content fullscreen padding class="biblioteca">
 <ion-list no-lines>
    <button detail-none ion-item *ngFor="let track of tracks; let i = index;" >
            <ion-avatar item-left>
                <img src="{{track.image}}">
            </ion-avatar>
            <h2 style="color:white"> {{track.title}} </h2>
            <h2 style="color:white"> {{track.artist}} </h2>
            <p> {{track.genero}} - {{track.duracion}} </p>
        </button>
  </ion-list>

 <!-- div class="reproductor">
  <ion-grid>
    <ion-row>
      <ion-col width="33">
        <button (click)="prevTrack()" color="light" clear ion-button icon-only><ion-icon name="skip-backward-outline"></ion-icon></button>
      </ion-col>
      <ion-col width="33">
        <button *ngIf="!currentTrack.playing" (click)="playTrack(currentTrack)" color="light" clear ion-button icon-only><ion-icon name="play-outline"></ion-icon></button>
        <button *ngIf="currentTrack.playing" (click)="pauseTrack(currentTrack)" color="light" clear ion-button icon-only><ion-icon name="pause-outline"></ion-icon></button>
      </ion-col>
      <ion-col width="33">
        <button (click)="nextTrack()" color="light" clear ion-button icon-only><ion-icon name="skip-forward-outline"></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
 -->
  <progress-bar [progress]="currentTrack.progress"></progress-bar> 
</ion-content>