page-biblioteca {

.biblioteca {
  background-color: #4368b6;
  
    ion-item {
        color: white;
        background-color: #BBDEFB;
        border-radius: 20px;
        border: solid 2px white;
        margin-bottom:10px;       
    }

    .progress-bar{
      position: absolute;
      bottom: 10px;
      width: 100%;
    }
  }
}

