page-biblioteca {

.biblioteca {
  background-color: #4368b6;
  
    ion-item {
        background-color: rgba(255,255,255,.3);
        border-radius: 20px;
        border: solid 2px white;
        margin-bottom:10px;   

        img {
          border: solid 1px white;
        }

        p {
          color:white;
        }

        ion-icon {
          margin-right:20px;
          font-size:30px;
        }

    }

    .progress-bar{
      border: solid 5px #BBDEFB;
      border-radius:15px;
      position: absolute;
      bottom: 10px;
      width:90%;
      padding:5px;
      font-size:20px;
      background:white;
      color:#4368b6;
    }
  }
}

